@use "../Config" as *;

@page {
	size: a5 portrait;
	margin: 10mm 5mm;
}

:root,
html {
	$Direction: ltr !global;
	$Opposite-Direction: rtl !global;
	$Start-Direction: left !global;
	$End-Direction: right !global;
	$Transform-Direction: 1 !global;

	--direction: $Direction;
	--opposite-direction: $Opposite-Direction;

	direction: var(--direction, $Direction);
	font-size: 100%;
	font-family: $Font-Persian;
	color: $Color-Text-Main;
	background-color: $Color-Body;
	transition: background-color 200ms;

	/* &[dir="ltr"],
	&:dir(ltr),
	&.ltr {
		background-color: #0060c0;
		direction: ltr;
		font-family: $Font-English;
	} */

	// &:dir(rtl),

	&[dir="rtl"],
	&.rtl {
		$Direction: rtl !global;
		$Opposite-Direction: ltr !global;
		$Start-Direction: right !global;
		$End-Direction: left !global;
		$Transform-Direction: -1 !global;

		--direction: $Direction;
		--opposite-direction: $Opposite-Direction;

		font-family: $Font-Persian;
	}
}

*,
*::before,
*::after {
	direction: inherit;
}

.app {
	display: grid;
	// height: 100%;
	overflow: hidden;
	place-content: center;
}

.mainWrapper {
	display: grid;
	width: 100%;
	height: max-content;
	overflow: visible;
}

main {
	direction: var(--direction, $Direction);
	position: relative;
	width: 100%;
}
