@use "Config" as *;
// @import "../fonts/Neirizi/stylesheet.css";
// @import "../fonts/Nabi/stylesheet.css";

$Font-Persian: "Vazirmatn FD", Vazirmatn, sans-serif;
$Font-Arabic: Neirizi, Nabi, "Vazirmatn FD", Vazirmatn, sans-serif;

* {
	min-width: 0;
	min-height: 0;
}

:root {
	direction: rtl;
}

#mainWrapper {
	overflow: auto;
	height: 100%;
	direction: ltr;
}

#main {
	direction: rtl;

	width: calc(29.7cm / 2);
	height: 21cm;
	border: 1px solid gray;
}

.arabic {
	font-family: $Font-Arabic;
}

.persian {
	font-family: $Font-Persian !important;
}

.persianInArabic {
	font-family: $Font-Persian !important;
	font-size: 16px;
	color: #65b2ff;
}

// Pages

.page {
	width: 100%;
	scrollbar-gutter: stable;
	display: flex;
	place-content: center;
	flex-direction: column;
	min-height: 100%;
}

.arabicText {
	font-family: $Font-Arabic;
	// padding: 20px;
	padding: 0 10px;
	line-height: 3;

	p {
		font-family: $Font-Arabic;
		font-size: 22px;
	}

	hr {
		border-top: 1px solid #0080ff44;
		margin: 10px;
	}
}