@use "Config" as *;

.counter {
	color: $Color-Accent;
	width: 100%;
	display: flex;
	place-content: center;

	.minus {
		color: $Color-Accent;
		line-height: 0;
		background: none;
		$Size: 30px;
		width: $Size;
		height: $Size;
		border: 2px solid $Color-Accent;
		border-radius: 50%;
		position: absolute;
		left: 20px;
		transition: 300ms;

		&:hover {
			background-color: $Color-Body-Light;
		}
	}

	.counterMain {
		color: $Color-Accent;
		line-height: 0;
		background: none;
		$Size: 250px;
		width: $Size;
		height: $Size;
		border: 5px solid $Color-Accent;
		border-radius: 50%;
		display: flex;
		place-items: center;
		place-content: center;
		transition: 300ms;

		&:hover {
			background-color: $Color-Body-Light;
		}
	}

	.counterText {
		font-size: 70px;
		line-height: 0;
		color: white;

	}
}
